<div class="cards">
  <animated-card content={{previous}} as |card|>{{yield card}}</animated-card>
  <animated-card content={{current}} as |card|>{{yield card}}</animated-card>
  <animated-card content={{next}} as |card|>{{yield card}}</animated-card>
</div>
