<div class="cards">
  <animated-card id="previous-card" content={{previous}} as |card|>{{yield card}}</animated-card>
  <animated-card id="current-card" content={{current}} as |card|>{{yield card}}</animated-card>
  <animated-card id="next-card" content={{next}} as |card|>{{yield card}}</animated-card>
</div>
