<div class="cards">
  <animated-card id="previous-card" class={{item-class}} content={{previous}} as |card|>{{yield card}}</animated-card>
  <animated-card id="current-card" class={{item-class}} content={{current}} as |card|>{{yield card}}</animated-card>
  <animated-card id="next-card" class={{item-class}} content={{next}} as |card|>{{yield card}}</animated-card>
</div>
