{{#if attrs.previousArticle}}
  <article class="article-detail previous-article">
    <header><h2>{{attrs.previousArticle.header}}</h2></header>
    <div class="article-body">{{{attrs.previousArticle.body}}}</div>
  </article>
{{else}}
  <article class="article-detail previous-article placeholder"></article>
{{/if}}

<article class="article-detail current-article">
  <header><h2>{{attrs.currentArticle.header}}</h2></header>
  <div class="article-body">{{{attrs.currentArticle.body}}}</div>
</article>

{{#if attrs.nextArticle}}
  <article class="article-detail next-article">
    <header><h2>{{attrs.nextArticle.header}}</h2></header>
    <div class="article-body">{{{attrs.nextArticle.body}}}</div>
  </article>
{{else}}
  <article class="article-detail next-article placeholder"></article>
{{/if}}

